<div class="p-1.5 mt-4 mb-1 ml-1 mr-1 bg-white shadow-md animate-slideIn-1 md:p-6 m-6">
    <div class="flex flex-col w-full">
        <div class="w-full">
          <div class="text-left tracking-[0.2em] text-xl md:text-3xl font-bold mb-4 uppercase animate-slideIn-2">
            Personal details
          </div>
          <hr class="border-t-2 border-black mb-6 mt-6 animate-slideIn-3">
        </div>
        <div class="flex flex-col w-full p-4">
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 mt-4 animate-slideIn-4">
            MY HISTORY
          </div>
          <div class="text-left animate-slideIn-5">
            <ul class="list-disc list-inside space-y-1 ml-6">
              <li>I am part of a large joint family and my parents are farmers. I lived mainly in the rural part of <a href="https://www.google.com/maps/place/Kolhapur,+Maharashtra/@16.7064484,74.2031548,12.69z/data=!4m6!3m5!1s0x3bc1000cdec07a29:0xece8ea642952e42f!8m2!3d16.7049873!4d74.2432527!16zL20vMDF4cG4y?entry=ttu" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">Kolhapur</a>,Maharashtra, India.</li>
              <li>I completed my primary school (Batch 2014) in my village and my higher secondary school (Batch 2016) in a nearby village, specializing in the science stream.</li>
              <li>For the first three years of engineering, I used to cycle 6 km daily to catch the bus on time.</li>
              <li>During the last semester of engineering, the Indian government imposed a COVID-19 lockdown in March 2020. During this lockdown period, I got my first laptop, and my passion for programming began.</li>
              <li>At 23, I graduated from <a href="https://www.adcet.ac.in/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">ADECT</a>, Maharashtra, India as a mechanical engineer (Batch 2020) and became the first engineer in my family.</li>
              <li>At the end of 2020, I started my career with <a href="https://www.slksoftware.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">SLK</a> and moved to <a href="https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.9807628,77.4757576,11z/data=!4m6!3m5!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627!16zL20vMDljMTc?entry=ttu" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">Bangalore</a>.</li>
            </ul>
            <div class="text-left animate-slideIn-5 mt-4 mb-2">
              Feel free to ask me in person for stories I'm not comfortable sharing online.
            </div>
          </div>

          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 mt-4 animate-slideIn-4">
            I LIKE
          </div>
          <div class="text-left animate-slideIn-5">
            <ul class="list-disc list-inside space-y-1 ml-6">
              <li>Bike Riding <fa-icon [icon]="faMotorcycle"></fa-icon></li>
              <li>Gaming <fa-icon [icon]="faGamepad"></fa-icon></li>
              <li>Exercise <fa-icon [icon]="faDumbbell"></fa-icon></li>
              <li>Table Tennis <fa-icon [icon]="faTableTenis"></fa-icon></li>
              <li>Volleyball <fa-icon [icon]="faVolleyball"></fa-icon></li>
              <li>Tech Talks <fa-icon [icon]="faMicrochip"></fa-icon></li>
              <li>Cycling <fa-icon [icon]="faBicycle"></fa-icon></li>
              <li>Music and Songs from different Languages <fa-icon class="mr-1" [icon]="faHeadphones"></fa-icon>  <fa-icon [icon]="faMusic"></fa-icon></li>
              <li>Interested in Geopolitics <fa-icon [icon]="faEarthAsia"></fa-icon></li>
            </ul>
          </div>
          
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 mt-4 animate-slideIn-4">
            FUN FACTS
          </div>
          <div class="text-left animate-slideIn-5">
            <ul class="list-disc list-inside space-y-1 ml-6">
              <li>I can solve a Rubik's cube... just don’t time me or expect a YouTube tutorial.</li>
              <li>I make Maggi noodles so delicious they deserve their own fan club.</li>
              <li>I once built a house out of curtains and cardboards that stayed up for a week.</li>
              <li>My cycling routes are so epic, even Google Maps asks me for directions.</li>
              <li>My playlist jumps from Bollywood hits to Tollywood tracks in seconds.</li>
            </ul>
          </div>

          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 mt-4 animate-slideIn-4">
            I DREAM OF
          </div>
          <div class="text-left animate-slideIn-5">
            <ul class="list-disc list-inside space-y-1 ml-6">
              <li>Leading with purpose</li>
              <li>Creating innovative tech solutions</li>
              <li>Achieving a balanced life</li>
              <li>Pursuing lifelong learning</li>
              <li>Mentor young minds</li>
            </ul>
          </div>
        </div>
      </div>
</div>

  