<div class="p-1.5 mt-4 mb-1 ml-1 mr-1 bg-white shadow-md animate-slideIn-1 md:p-6 m-6">
    <div class="flex flex-col w-full">
        <div class="w-full">
          <div class="text-left tracking-[0.2em] text-xl md:text-3xl font-bold mb-4 uppercase animate-slideIn-2">
            Contact
          </div>
          <hr class="border-t-2 border-black mb-2 mt-6 animate-slideIn-3">
        </div>
        <div class="flex flex-col w-full p-4">
          <div class="text-left text-base md:text-sm uppercase mb-4 mt-4 animate-slideIn-4">
            PLACES TO BOTHER ME
          </div>
          <app-social-icons class="animate-slideIn-5"></app-social-icons>
        </div>
      </div>
</div>

  