<div class="p-1.5 mt-4 mb-1 ml-1 mr-1 bg-white shadow-md animate-slideIn-1 900px:p-6 m-6">
    <div class="flex flex-col w-full">
        <div class="w-full">
          <div class="text-left tracking-[0.2em] text-xl md:text-3xl font-bold mb-4 uppercase animate-slideIn-2">
            About
          </div>
          <hr class="border-t-2 border-black mb-6 mt-6 animate-slideIn-3">
        </div>
        <div class="flex flex-col w-full p-4">
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 animate-slideIn-4 ">
            INTRO
          </div>
          <div class="text-left animate-slideIn-5">
            I am a software developer/software engineer, tech buff, and adaptive professional.
            I am particularly interested in projects that leverage cutting-edge technology and am actively seeking opportunities to contribute.
            If you think I can be helpful to you or would like to catch up, please feel free to get in touch.
          </div>

          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 mt-4 animate-slideIn-4">
            CURRENTLY
          </div>
          <div class="text-left animate-slideIn-5">
            Currently, I'm working at <a href="https://imriel.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700"> IMRIEL</a> as a Software Engineer. Before this, I worked at SLK, where we provided services primarily to the manufacturing and supply chain (MFSC) industry for clients such as <a href="https://www.emerson.com/en-us/global" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700"> Emerson</a>.
            At <a href="https://www.slksoftware.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">SLK</a>, I gained experience in building teams, managing people, shaping culture, and developing customer relationships.
            IMRIEL has enhanced my technical skills and supported my professional growth.
          </div>
          <div class="text-left tracking-[0.17em] text-base md:text-sm font-bold uppercase mb-4 mt-4 animate-slideIn-4">
            Education
          </div>
          <div class="flex items-center justify-center bg-white p-2 px-6 900px:px-20 animate-slideIn-2">
            <div class="space-y-6 border-l-2 border-dashed">
              <div class="relative w-full animate-slideIn-3">
                <fa-icon [icon]="faCheckCircle" class="absolute -top-3 z-10 -ml-3.5 h-4 w-4 text-blue-500"></fa-icon>
                <div class="ml-6 animate-slideIn-4">
                  <h4 class="font-bold text-blue-500 animate-slideIn-5">Bachelor Of Engineering</h4>
                  <h3 class="font-bold text-gray-600 animate-slideIn-6">Annasaheb Dange College of Engineering and Technology</h3>
                  <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Ashta, Sangli, Maharashtra, India</p>
                  <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">2016 - 2020</span>
                </div>
              </div>
              <div class="relative w-full animate-slideIn-3">
                <fa-icon [icon]="faCheckCircle" class="absolute -top-3 z-10 -ml-3.5 h-4 w-4 text-blue-500"></fa-icon>
                <div class="ml-6 animate-slideIn-4">
                  <h4 class="font-bold text-blue-500 animate-slideIn-5">Higher Secondary School (HSC)</h4>
                  <h3 class="font-bold text-gray-600 animate-slideIn-6">Shri Parashar Jr College Of Science</h3>
                  <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Pargaon, Kolhapur, Maharashtra, India</p>
                  <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">2014 - 2016</span>
                </div>
              </div>
              <div class="relative w-full animate-slideIn-3">
                <fa-icon [icon]="faCheckCircle" class="absolute -top-3 z-10 -ml-3.5 h-4 w-4 text-blue-500"></fa-icon>
                <div class="ml-6 animate-slideIn-4">
                  <h4 class="font-bold text-blue-500 animate-slideIn-5">Secondary School Certificate (SSC)</h4>
                  <h3 class="font-bold text-gray-600 animate-slideIn-6">Kini Highschool Kini</h3>
                  <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Kini, Kolhapur, Maharashtra, India</p>
                  <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">Batch 2014</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


  