<div class="p-1.5 mt-4 mb-1 ml-1 mr-1 bg-white shadow-md animate-slideIn-1 md:p-6 m-6">
    <div class="w-full">
      <div class="text-left text-xl md:text-3xl font-bold mb-4 uppercase animate-slideIn-2">
        Experience
      </div>
      <h4 class="font-bold text-black-500 animate-slideIn-3">({{timespanTotal()}})</h4>
      <hr class="border-t-2 border-black mb-6 mt-6 animate-slideIn-3">
    </div>
    <div class="flex items-center justify-center bg-white p-12 px-6 900px:px-20 animate-slideIn-2">
      <div class="space-y-6 border-l-2 border-dashed">
        <div class="relative w-full animate-slideIn-3">
          <img src="../../../../assets/logo/Imriel logo.png" alt="Profile" class="absolute -top-1 z-10 -ml-5 h-10 w-10  text-blue-500">
          <div class="ml-6 animate-slideIn-4">
            <h4 class="font-bold text-blue-500 animate-slideIn-5">Software Engineer</h4>
            <h3 class="font-bold text-gray-600 animate-slideIn-6">IMRIEL Technology Solutions Private Ltd</h3>
            <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Pune, Maharashtra, India</p>
            <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">Mar 2023 - Present ({{timespan()}})</span>

            

          </div>
        </div>
        <div class="relative w-full animate-slideIn-3">
          <img src="../../../../assets/logo/SLK logo.png" alt="Profile" class="absolute -top-1 z-10 -ml-5 h-10 w-10 rounded-full text-blue-500">
          <div class="ml-6 animate-slideIn-4">
            <h4 class="font-bold text-blue-500 animate-slideIn-5">Associate Software Engineer </h4>
            <h3 class="font-bold text-gray-600 animate-slideIn-6">SLK</h3>
            <p class="mt-2 max-w-screen-sm text-sm text-gray-500 animate-slideIn-7">Bengaluru, Karnataka, India</p>
            <span class="mt-1 block text-sm font-semibold text-blue-700 animate-slideIn-8">Dec 2020 - Mar 2023 (2 years 4 months)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  