<div class="px-4 mx-auto max-w-xs sm:px-6 lg:px-8">
    <div class="text-center animate-scale-wave delay-1">
      <img class="object-cover w-36 h-36 mx-auto rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/4/avatar.jpg" alt="Profile Picture" />
      <p class="mt-6 text-lg font-semibold text-black animate-scale-wave uppercase delay-2">Mayur Gurav</p>
      <p class="text-sm text-gray-600 animate-scale-wave delay-3">
        <a href="mailto:mayurgurav0297@gmail.com" class="text-gray-600 hover:text-blue-700 transition-colors duration-300">mayurgurav0297&#64;gmail.com</a>
      </p>   
      
    </div>
  </div>
  <hr class="my-4 animate-scale-wave delay-4">
  <div class="text-left animate-scale-wave delay-5">
    <h2 class="text-sm font-semibold text-black">ABOUT</h2>
    <p class="mt-2 text-black text-sm">
      Hello 👋, I'm Mayur. I'm passionate about crafting things to reality. I graduated from 
      <a href="https://www.unishivaji.ac.in/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">Shivaji University</a>, Kolhapur
      and currently work as a Software Developer at
      <a href="https://imriel.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700"> IMRIEL</a>, Pune. 
      Previously, I was at 
      <a href="https://www.slksoftware.com/" target="_blank" class="underline decoration-dotted underline-offset-2 decoration-1 hover:text-blue-700">SLK</a>, Bangalore.
    </p>
    
    <button class="mt-4 px-2 py-1 border border-black text-black bg-white hover:border-blue-500 hover:text-blue-500 hover:bg-gray-100 animate-scale-wave delay-6" (click)="navigateToAbout()">Know more</button>
</div>
  <hr class="my-4 animate-scale-wave delay-7">
  <app-social-icons class="animate-scale-wave delay-8"></app-social-icons>
  