  <div class="p-4 pl-4 pr-4 900px:pl-12 pr-24">
    <div class="flex flex-wrap justify-center gap-1">
        <div>
            <div class="flex items-center justify-center flex-col border border-sky-500 bg-white rounded-lg h-16 px-4 900px:h-20 px-8">
                <img src="path-to-image.jpg" alt="Profile" class="w-8 h-8 900px:w-10 h-10 rounded-full">
                <span class="p-1 text-sm 900px:p-1 pl-2 text-base font-semibold">Name 1</span>
              </div>
        </div>
        <div>
            <div class="flex items-center justify-center flex-col border border-sky-500 bg-white rounded-lg h-16 px-4 900px:h-20 px-8">
                <img src="path-to-image.jpg" alt="Profile" class="w-8 h-8 900px:w-10 h-10 rounded-full">
                <span class="p-1 text-sm 900px:p-1 pl-2 text-base font-semibold">Name 1</span>
              </div>
        </div>
        <div>
            <div class="flex items-center justify-center flex-col border border-sky-500 bg-white rounded-lg h-16 px-4 900px:h-20 px-8">
                <img src="path-to-image.jpg" alt="Profile" class="w-8 h-8 900px:w-10 h-10 rounded-full">
                <span class="p-1 text-sm 900px:p-1 pl-2 text-base font-semibold">Name 1</span>
              </div>
        </div>
        <div>
            <div class="flex items-center justify-center flex-col border border-sky-500 bg-white rounded-lg h-16 px-4 900px:h-20 px-8">
                <img src="path-to-image.jpg" alt="Profile" class="w-8 h-8 900px:w-10 h-10 rounded-full">
                <span class="p-1 text-sm 900px:p-1 pl-2 text-base font-semibold">Name 1</span>
              </div>
        </div>
        <div>
            <div class="flex items-center justify-center flex-col border border-sky-500 bg-white rounded-lg h-16 px-4 900px:h-20 px-8">
                <img src="path-to-image.jpg" alt="Profile" class="w-8 h-8 900px:w-10 h-10 rounded-full">
                <span class="p-1 text-sm 900px:p-1 pl-2 text-base font-semibold">Name 1</span>
              </div>
        </div>
        <div>
            <div class="flex items-center justify-center flex-col border border-sky-500 bg-white rounded-lg h-16 px-4 900px:h-20 px-8">
                <img src="path-to-image.jpg" alt="Profile" class="w-8 h-8 900px:w-10 h-10 rounded-full">
                <span class="p-1 text-sm 900px:p-1 pl-2 text-base font-semibold">Name 1</span>
              </div>
        </div>
      </div>
  </div>

  